*{
    margin: 0;
    padding: 0; 
}
body{
    font-weight:lighter;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #373D49;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #373D49;
    top: 0;
} 
.logo{ 
    padding: 5px;
    height: 122px;   
}
.topo{
    text-align:center;  
}
section{
    background-image: url(../images/Imagem120.jpg);
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;   
}
.meio{
    text-align:center;  
}
.lindos{
    width:500px;
    height: auto;
    margin-top: 400px;
    outline: 20px solid #373D49;     
}
.fundo2{
    margin-top: 60px;
}
.texto{
    margin-right: 30px;
    max-width: 40%;
    display: inline-block;
    float:right;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
p{
    color:white;
    margin-bottom: 20px;
    margin-top: 20px;
}
h1{
    color: white;
    font-weight:lighter;
    text-align: center;
}
.i1{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin: 30px;
    padding: auto;
    display: inline-block;
    float: left;  
}
h2{
   font-weight:400;
   text-align: center;
   color:black;
}
.formContainer{
    max-width: 100%;
    background-color: #FFFFFFBB;
    opacity: 0.3;
    padding: 20px;
    text-align: center;  
    border: 0.5px solid #373D49;
    border-radius: 5px;
}
input{
    width: 50%;
    box-sizing: border-box;
    padding: 3px;
    border: none;
    margin-bottom: 10px;  
}
#msg{
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
    border:none;    
}
footer{
    margin-top: 550px;  
}
.icon{
    text-align: right;     
}
.contato{
    font-weight:410;
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 15px;
}


